        body {
            margin: 0;
            padding: 0;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background: #2ad613;
        }
  h1 {
            padding: 20px 0;
            text-align: center;
            background: #960f0f;
            color: white;
            color: dodgerblue !important;
        }

        *{
            color: gray !important;
        }

        .container {
            width: 960px;
            margin: 0 auto;
        }

      

        h2 {
            margin-bottom: 0px;
            padding-left: 10px;
            text-align: left;
            background: #2979ff;
            color: white;
        }

        img {
            height: 40px;
            margin: 40px auto 40px;
            display: block;
        }

        table {
            width: 100%;
            color: #333;
            background: white;
            border-collapse: collapse;
        }

        table  tr {
        background: orange;
        }

        tr {
            border-bottom: 1px solid rgb(255, 14, 74);
        }

        td {
            padding: 5px 0;
        }

        td:first-child {
            width: 300px;
            padding-left: 10px;
        }

        p#footer {
            margin-top: 100px;
        }

