#firstP {
    font-family: 'test';
        font-weight: 100;
}

#secondP {
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;

}

#thirdP {
    font-family: 'Indie Flower', cursive;
}





/* body{

    font-size: 32px;
    font-weight: 800;
} */

span {
    font-weight: 400;
    font-style: italic;
    text-shadow: 10px -12px 0px rgba(255, 195, 150, 0.6);
}


@font-face{
    font-family: 'test';
    src: url('Open_Sans_Condensed/OpenSansCondensed-Bold.ttf')
}


@import url('https://fonts.googleapis.com/css?family=Indie+Flower');


#fourthP {


text-transform: uppercase;
text-decoration: underline;
letter-spacing: 5px;
text-align-last: left;
}


#fifthP {


text-transform: lowercase;
text-decoration: line-through;
line-height: 200%;
text-align: right;

}
#sixthP {


text-align: center;

}


ul {


    text-shadow: 20px 18px 0px rgba(0, 195, 37, 0.54);
    color: darkred;
}

a:link{
    color: red;
}
 a:visited{
    color: black;
}
a:hover{
    color:green;
}
a:active{
    color:blue;
}
