#Eve {
    width: 100%;
}

h1{
    text-align: center
}

header {
    margin: 0 auto;
}

#nyx {
    width: 100%;
}

#stratios {
    width: 100%;
}

#rorqual {
    width: 100%;
}

p {
    text-align: center;
    
}