body{
    background-image: url(../img/field.png);
    background-size: cover;
    background-position: center center;
    height: 100%;
    
}
html{
    height: 100%;
}
#player{
    width: 80px;
    position: absolute;
}
#freeze{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100px;
    height: 50px;
    background-color: indianred
}